@use '@/assets/scss/_colors.scss' as colors;
@use '@/assets/scss/_media-queries.scss' as media;

.portfolio {
  &-top {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &__wrapper {
      width: 100%;
      padding: 20px;
    }

    &__video {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 0;
      filter: brightness(140%);
    }

    &__hero {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%;
      height: 75%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: colors.$portfolio_Black;
      background-color: colors.$portfolio_White;
      z-index: 1;

      @media #{media.$xsmall-and-down} {
        width: 90%;
        height: 60%;
      }
    }

    &__title {
      font-size: 32px;
      letter-spacing: -0.05em;
      color: colors.$portfolio_Black;
      font-family: 'Playfair', 'Roboto', 'Manrope', sans-serif;
    }

    &__subtitle {
      font-size: 8vw;
      line-height: 0.8em;
      letter-spacing: -0.04em;
      font-family: 'Roboto', 'Manrope', sans-serif;

      @media #{media.$xsmall-and-down} {
        font-size: 12vw;
      }
    }

    &__text {
      font-size: 12px;
      text-indent: 0.7%;
    }
  }
}
