@use '@/assets/scss/_colors.scss' as colors;

.portfolio {
  &__header {
    width: 100%;
    min-height: 100vh;

    &-hero {
      position: relative;
      width: 50%;
      height: 50%;
    }
  }
}