
/*
  Colors
 */
$portfolio_Red: #BF0000;
$portfolio_White: #FFFFFF;
$portfolio_Black: #333333;
$black: #000000;
 
$portfolio_Gray100: #F7F7F7;
$portfolio_Gray200: #EBEBEB;
$portfolio_Gray300: #D1D1D1;
$portfolio_Gray400: #B6B6B6;
$portfolio_Gray600: #828282;
$portfolio_Gray700: #686868;
$portfolio_Gray900: $portfolio_Black;
 