$fontSize5XLarge: 28px;
$fontSize4XLarge: 24px;
$fontSizeXXXLarge: 22px;
$fontSizeXXLarge: 20px;
$fontSizeXLarge: 18px;
$fontSizeLarge: 16px;
$fontSizeMedium: 14px;
$fontSizeSmall: 13px;
$fontSizeXSmall: 12px;
$fontSizeXXSmall: 10px;