@use '@/assets/scss/_colors.scss' as colors;
@use '@/assets/scss/_media-queries.scss' as media;


.photography {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background: colors.$portfolio_Black;

  &__wrapper {
    padding: 25vh 0;
  }

  .swiper-wrapper {
    margin-left: 20px;
  }

  &__notice {
    font-size: 12px;
    color: colors.$portfolio_White;
  }

  &__item {
    &-img {
      display: block;
      width: 100%;
      height: 75vh;
      background-size: cover;
      background-position: center;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      cursor: url('/img/icons/cursor_hover.svg'), auto;
    }

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: colors.$portfolio_White;
      background: colors.$black;
    }

    &-type {
      font-size: 11px;
      font-family: 'Raleway', 'Manrope', sans-serif;
    }

    &-title {
      font-size: 11px;
      font-family: 'Roboto', 'Manrope', sans-serif;

      @media #{media.$tiny-only} {
        width: 50%;
      }
    }
  }
}

.modal__item {
  &-img {
  max-width: 100%;
  }
}
