@use '@/assets/scss/_media-queries.scss' as media;

.er-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;

  &__content {
    position: relative;
    width: 86vw;
    max-width: 1200px;
    max-height: 86vh;
    border-radius: 4px;
    z-index: 100001;
    background: #1a1a1a;

    @media #{media.$xsmall-and-down} {
      width: 94vw;
      max-height: 90vh;
    }
  }

  &__wrap {
    position: relative;
    max-height: 100%;
    height: auto;
  }

  &__opened {
    width: 100%;
  }

  &__item {
    position: relative;

    &-img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__close {
    position: absolute;
    top: -32px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100002;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      top: 14px;
      left: 5px;
      transform: rotate(45deg);
      background-color: #ffffff;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
  }
}
