@use '@/assets/scss/_colors.scss' as colors;

.menu {
  &__wrapper {
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 9;
    background: colors.$portfolio_Black;
  }

  &__button {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .5s ease-in-out;
    z-index: 1;

    &-input {
      position: absolute;
      width: 36px;
      height: 36px;
      opacity: 0;
      z-index: 4;
    }

    &-hamburger {
      display: flex;
      width: 18px;
      height: 1px;
      background-color: colors.$portfolio_White;
      transition: all .5s ease;
      z-index: 3;
  
      &::before, 
      &::after{
        content: '';
        position: absolute;
        width: 18px;
        height: 1px;
        background: colors.$portfolio_White;
        transition: all .5s ease;
      }
  
      &::before {
        transform: translateY(-5px);
      }
      
      &::after{
        transform: translateY(5px);
      }
    }
  }

  &__sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.4s ease;
    background-color: colors.$portfolio_White;
    z-index: 2;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    &-title {
      padding: 4px 0 4px 12px;
      margin: 0;
      font-size: 32px;
      letter-spacing: -0.05em;
      font-family: "Playfair", "Manrope", sans-serif;
      color: colors.$portfolio_Black;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      height: 50%;

      &-item {
        margin: 8px 0;
        list-style-type: none;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        font-family: "Roboto", "Manrope", sans-serif;
        color: colors.$portfolio_Black;
      }
    }
  }

  &__background {
    position: fixed;
    display: block;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .6s ease;
    z-index: 0;

    &.is-active {
      opacity: 1;
      z-index: 2;
    }
  }
}

/** checked state */
.menu__button-input.is-active ~.menu__button-hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.menu__button-input.is-active ~.menu__button-hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: colors.$portfolio_Black;
}

.menu__button-input.is-active ~.menu__button-hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: colors.$portfolio_Black;
}