@use '@/assets/scss/_colors.scss' as colors;
@use '@/assets/scss/_media-queries.scss' as media;

.portfolio {
  &-about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: colors.$portfolio_Black;

    &__title {
      padding: 20px;
      color: colors.$portfolio_White;
      background: colors.$portfolio_Black;

      &-text {
        font-size: 8vw;
        line-height: 0.9em;
        letter-spacing: -0.04em;
        font-family: "Roboto", "Manrope", sans-serif;
  
        @media  #{media.$xsmall-and-down} {
          font-size: 12vw;
        }
      }

      &-desc {
        margin: 40px 0 0 0;
        line-height: 1.1em;
        font-size: 40px;
        font-family: "Playfair", "Manrope", sans-serif;
      }
    }

    &__profile {
      width: 100%;
      height: 100%;
      padding: 12px;
      color: colors.$portfolio_Black;
      background: colors.$portfolio_White;

      @media  #{media.$xsmall-and-down} {
        padding: 12px;
      }

      &-wrap {
        padding: 12px;
        border: 2px solid colors.$portfolio_Black;
      }

      &-name {
        font-size: 24px;
        line-height: 0.8em;
        font-family: "Playfair", "Manrope", sans-serif;
      }

      &-me {
        padding: 24px 0;

        &-logo {
          margin: 0 auto;
          text-align: center;
        }

        &-logoimg {
          max-width: 100px;
        }

        &-title {
          font-size: 24px;
          font-family: "Roboto", "Manrope", sans-serif;
        }

        &-list {
          list-style-type: none;
          width: 50%;
          margin: 0;
          padding: 4px 8px 4px 0;
          font-size: 14px;
          font-family: "Playfair", "Manrope", sans-serif;
        }
      }

      &-sns {
        padding: 80px 0;

        @media  #{media.$xsmall-and-down} {
          padding: 40px 0;
        }
      }
    }
  }
}