@use '@/assets/scss/_colors.scss' as colors;
@use '@/assets/scss/_media-queries.scss' as media;

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}


@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(hide) {
  100% {
    fill: transparent;
  }
}

@include keyframes(expand) {
  0% {}
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: colors.$portfolio_Yellow;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: colors.$portfolio_Yellow;
  }
}

.portfolio {
  &-showcase {
    position: relative;

    &__all {
      width: 100%;

      &-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        padding: 20px;
      }

      &-main {
        display: flex;
        align-items: center;
        flex-grow:1;
        padding: 8px 0;
        color: colors.$portfolio_Black;
        background: colors.$portfolio_White;
        border-bottom: 1px solid colors.$portfolio_Black;
        border-top: 1px solid colors.$portfolio_Black;
        cursor: pointer;
      }

      &-text {
        font-size: 24px;
        line-height: 0.8em;
        font-family: "Playfair", "Manrope", sans-serif;
      }

      &-img {
        max-width: 20px;
      }
    }

    &__splash {
      display: none;
      width: 100vw;
      height: 100vh;
      top: 0;
      overflow: hidden;
      z-index: 0;

      &.is-active {
        position: fixed;
        display: flex;
        z-index: 5;
      }

      &-svg {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: 1;

        svg {
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: visible;
          backface-visibility: visible;

          rect {
            width: 100%;
            height: 100%;
            fill: colors.$portfolio_Yellow;
            stroke: 0;
            -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
            clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
            @include animation('expand 0.7s ease-in forwards');
          }
        }
      }

      &-contents {
        position: relative;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in 0.5s;
  
        &.is-active {
          position: fixed;
          top: 0;
          opacity: 1;
          width: 100%;
          height: 100%;
          visibility: visible;
          z-index: 6;
        }

        &-close {
          display: none;
          position: fixed;
          bottom: 0;
          width: 100%;
          font-size: 24px;
          letter-spacing: -0.05em;
          text-align: center;
          font-family: "Playfair", "Manrope", sans-serif;
          color: colors.$portfolio_Black;
          background: colors.$portfolio_Yellow;
        }

        &-list {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 0 0 20px 0;
          overflow-y: scroll;
          color: colors.$portfolio_Black;
          background: colors.$portfolio_White;
        }
      }
    }
  }
}
