@use '@/assets/scss/_colors.scss' as colors;

.portfolio {
  &__top {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &-video {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 0;
    }

    &-hero {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: colors.$portfolio_White;
      background-color: colors.$portfolio_Black;
      z-index: 1;
    }

    &-title {
      font-size: 64px;
      letter-spacing: -0.05em;
      font-family: 'Playfair', 'Roboto', 'Manrope',sans-serif;
    }

    &-subtitle {
      font-size: 12px;
      font-family: 'Roboto', 'Manrope',sans-serif;
    }
  }
}