@use '@/assets/scss/_colors.scss' as colors;
@use '@/assets/scss/_media-queries.scss' as media;


.artwork {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: colors.$portfolio_Black;

  &__scroll {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background: colors.$portfolio_White;

    &-text {
      font-size: 80px;
      font-weight: 700;
      letter-spacing: -0.04em;
      color: colors.$portfolio_White;
      -webkit-text-stroke: 1px colors.$portfolio_Black;
      font-family: 'Roboto', 'Manrope', sans-serif;
      animation: animate_text 22s linear infinite;
    }
  }

  &__title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    bottom: 2.5vh;
    left: 16px;
    padding: 4px 8px;
    background: #ffffff;
    z-index: 1;

    &-border {
      height: 100%;
      padding: 8px 0;
    }

    &-text {
      font-size: 24px;
      line-height: 0.8em;
      margin: 0;
      font-family: 'Playfair', 'Manrope', sans-serif;
      color: colors.$portfolio_Black;

      &--sub {
        color: colors.$portfolio_Gray700;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: calc(100% - 24px);
    margin: 12px 0 0 0;
    padding: 20px;
    border-radius: 8px;
    color: colors.$portfolio_White;
    background: colors.$black;

    @media #{media.$small-only} {
      display: none;
    }

    @media #{media.$xsmall-and-down} {
      display: none;
    }

    &-text {
      font-size: 12px;
    }
  }

  &__content {
    padding: 20px;
    background: colors.$portfolio_Black;
  }

  &__wrapper {
    padding: 15vh 0;
    background: #bc1616 url('/img/illustration/digital.png') center / contain no-repeat;
  }

  &__sticky {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__track {
    display: flex;
    gap: 80px;
    padding: 0 20px;
  }

  &__item {
    flex-shrink: 0;
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    cursor: url('/img/icons/cursor_hover.svg'), auto;
    pointer-events: auto;

    @media #{media.$small-only} {
      width: 350px;
    }

    @media #{media.$xsmall-and-down} {
      width: 280px;
    }

    &-img {
      margin: 0;

      img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 8px;
      color: colors.$portfolio_White;
      background: colors.$black;
    }

    &-type {
      font-size: 11px;
      padding-right: 8px;
      font-family: 'Raleway', 'Manrope', sans-serif;
    }

    &-title {
      font-size: 11px;
      font-family: 'Roboto', 'Manrope', sans-serif;

      @media #{media.$tiny-only} {
        width: 50%;
      }
    }
  }
}

.er-modal__item {
  &-img {
  max-width: 100%;
  }
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.modal-fade-enter-to,
.modal-fade-leave-from {
  opacity: 1;
}

@keyframes animate_text {
  from {
  transform: translate3d(0, 0, 0);
  }
  to {
  transform: translate3d(-100%, 0, 0);
  }
}
